<?php

/**
 * Shaarli Flux River
 *
 * @version 1.1 beta
 * @author: Nexen (nexen@irc.freenode.net#debian, https://nexen.mkdir.fr/shaarli)
 *
 * Contributors:
 *   ArthurHoaro (https://github.com/ArthurHoaro)
 *   Oros42 (https://github.com/Oros42/)
 */

/**
 * Configuration
 */
// for /top.php?do=rss
//define('SHAARLI_RIVER_URL', 'https://ecirtam.net/shaarlirss/');
define('SHAARLI_RIVER_URL', '');

// Shaarli API url
// You can host your own API, see: https://github.com/Oros42/shaarli-api

// Private URL of the API
// example :
//define('SHAARLI_API_URL', 'https://127.0.0.1/shaarli-api/');
define('SHAARLI_API_URL', 'https://shaarli-api.ecirtam.net/');

// Public URL of the API
// example :
//define('SHAARLI_API_URL_PUBLIC', '/shaarli-api/');
define('SHAARLI_API_URL_PUBLIC', 'https://shaarli-api.ecirtam.net/');

// Page title
define('HEAD_TITLE', 'Shaarli Flux River');

// CSS Style
define('CSS_STYLE', 'dark_style.css');
//define('CSS_STYLE', 'style.css');
