/*
* @name          Shaarli River - mobile
* @namespace     http://userstyles.org
* @description	 Remove the frame and the background picture. Content is now full width, and the time is hidden. Perfect for smartphones and for a sidebar bookmark in firefox !
* @author        tmos
* @homepage      http://userstyles.org/styles/101362
*/
@import url("../assets/bootstrap.min.css")
* {
	margin: 0;
	padding: 0;
}
body {
	font-size: 14px;
    width:100%;
    height:100%;    
    background-size: cover;
    background-color: #333;
}
a {
	color: #0084b4;
}
h1 {
	margin: 0 0 15px 0;
}
#page {
	margin: auto;
	width: 100%;
	background-color: #fff;
	padding: 0;
}
#timer {
	display:none;
}
.right {
	float: right;
}
#footer {
	margin-top: 15px;
	text-align: center;
}
.menu {
	margin: 0 0 15px 0;
}
.favicon {
	height: 16px;
	width: 16px;
	margin-right: 2px;
}
.entry {
	padding: 10px;
	border-right: 0px none;
	border-left: 0px none;
	border-top: 1px solid #e8e8e8;	
}
.entry:hover {
	background-color: #F5F5F5;
}
.entry-shaarli {
	color: #000;
	font-weight: bold;
}
.entry-title {
	font-weight: bold;
}
.entry-timestamp {
	font-size: 12px;
	color: #999;
	float: right;
}
.entry-counter {
	padding: 3px 10px;
	margin: 0 5px 0 0;
	float: left;
	background-color: #0084b4;
	color: #fff;
	border-radius: 10px;
}
.unread {
	border-left: 3px solid #0084b4;
}
.two-column {
	width: 50%;
	float: left;
}
.entry-link {
	padding: 5px;
	margin: 1px 2px 1px 0;
	cursor: pointer;
}
.entry-link a {
	text-decoration: none;
}
.entry-link.selected {
	margin: 0;
	border-top: 1px solid #adadad;
	border-bottom: 1px solid #adadad;
	border-left: 1px solid #adadad;
	border-radius: 4px;
	background-color: #F5F5F5;
}
.clear {
	clear: both;
}